<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" type="text/css" href="/css/syntax.css">
      <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/cv">CV</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </nav>
      <div class="container">

      {{ content }}

      </div><!-- /.container -->
      <footer>
        <ul>
              <li><a class="github-button" href="https://github.com/wilcas" data-size="large" aria-label="Follow @wilcas on GitHub">Follow @wilcas</a></li>
              <li><a href="https://twitter.com/wilcasza?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @wilcasza</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        </ul>
      </footer>
    </body>
  </html>
